@font-face {
    font-family: "CrushYourEnemies_REGULAR";
    src: url("CrushYourEnemies_REGULAR.ttf") format("truetype");
}

@font-face {
    font-family: "CrushYourEnemies_BOLD";
    src: url("CrushYourEnemies_BOLD.ttf") format("truetype");
}

body {
    background-color: #F0F4F7;
    font-family: "CrushYourEnemies_REGULAR";
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h2 {
    text-align: center;
    padding-top: 20px;
    margin: 0px;
    font-size: 20px;
}

h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 0px;
}

.character-grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px;
    grid-gap: 30px;
    margin-top: 40px;
}

.character-grid-container-character-selected {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px;
    grid-gap: 30px;
    margin-top: 40px;
}

.character-grid-item {
    width: 100px;
    height: 100px;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-item {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 0 0 10px grey;
    -o-box-shadow: 0 0 10px grey;
}

.character-img {
    height: 100x;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.character-img:hover {
    border: 3px solid #00C851;
}

img {
    height: 150x;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.fight {
    padding-bottom: 13px;
}

.arena {
    width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 13px;
}

.handIcons {
    font-size: 30px;
    padding: 0px 7px 0px 7px;
}

.fa-circle {
    color: rgb(83, 83, 83);
    margin-bottom: 40px;
}

.left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cursor {
    cursor: pointer;
}

.container-hands {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px;
    grid-gap: 60px;
    height: 50px;
}

.container-hands-item {
    text-align: center;
}

.large {
    font-size: 50px;
}

.hidden {
    display: none;
}