@font-face {
    font-family: "CrushYourEnemies_REGULAR";
    src: url("CrushYourEnemies_REGULAR.ttf") format("truetype");
}

@font-face {
    font-family: "CrushYourEnemies_BOLD";
    src: url("CrushYourEnemies_BOLD.ttf") format("truetype");
}

body {
    background-color: #F0F4F7;
    font-family: "CrushYourEnemies_REGULAR";
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h2 {
    text-align: center;
    padding-top: 20px;
    margin: 0px;
    font-size: 20px;
}

h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0px;
}

.character-grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px;
    grid-gap: 30px;
    margin-top: 30px;
}

.character-grid-item {}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-item {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 0 0 10px grey;
    -o-box-shadow: 0 0 10px grey;
}

.character-img {
    height: 100x;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.character-img:hover {
    border: 3px solid rgb(121, 206, 3);
}

img {
    height: 150x;
    width: 150px;
    border-radius: 50%;
}

.fight {
    padding-bottom: 13px;
}

.far {
    width: 30px;
    height: 30px;
}

.fa-circle {
    color: rgb(83, 83, 83);
}